@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

html,body {
  height:100%;
  font-family: Droid Sans;
  font-size: 16px;
}

h1 {
  font-size:80px;
  color:#DDCCEE;
}

.lead {
	color:#DDCCEE;
}



.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background: url("../images/back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.container {
    border: 1px solid grey;
}

.v-center {
  margin-top:7%;
}


.two-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
}

.front-page-logo {
    width: 350px;
    vertical-align: middle;
    padding-top: 2em;
}

.panel-body {
    text-align: justify;
}

.hyphenate {
    text-align: justify;
}

.logo-text {
}

.row {
}


#references img {
    max-width: 200px;
    min-width: 150px;
    padding-left: 10px;
    padding-right: 10px;
}                     

#other-links,
#social-media {
    margin-top: 1.5em;
    text-align: center;
}

#social-media img {
    width: 120px;
    max-width: 120px;
    padding: 5px;
}
